[Desktop Entry]
Version=1.0
Name=Sicoob Empresarial
Exec=/home/someUser/Sicoobnet/sicoobnet.sh
StartupNotify=true
Terminal=false
Icon=java
Type=Application

