[Desktop Entry]
Name=Aggilizador
Exec=/opt/sicoob/run/Agger.sh
Type=Application
StartupNotify=true
Comment=Aggilizador de Cálculos
Icon=B81C_Aggilizador.Application.0
StartupWMClass=aggilizador.application.exe
Keywords=Sicoob;cooperativa;cálculos;Agger;