[Desktop Entry]
Name=GerCoop
Exec=wine /opt/wine/GerCoop/GerCoop.exe 
Type=Application
StartupNotify=true
Icon=906A_GerCoop.0
StartupWMClass=gercoop.exe
