[Desktop Entry]
Name=GerCoop
Exec=/opt/sicoob/run/Gercoop.sh
Type=Application
StartupNotify=true
Icon=906A_GerCoop.0
StartupWMClass=Gercoop
Keywords=Sicoob;cooperativa;
