[Desktop Entry]
Name=GerCoop
Exec=wine /opt/wine/drive_c/GerCoop/GerCoop.exe 
Type=Application
StartupNotify=true
Icon=906A_GerCoop.0
StartupWMClass=Gercoop
Keywords=Sicoob;cooperativa;
Path=./Downloads
