[Desktop Entry]
Name=Reiniciar interface
Exec=busctl --user call org.gnome.Shell /org/gnome/Shell org.gnome.Shell Eval s 'Meta.restart("Restarting…")'
Type=Application
StartupNotify=true
#Icon=
Keywords=reiniciar;restart

