[Desktop Entry]
Name=Sisbr 2.0
Exec=/opt/sicoob/run/SisBr.sh
Type=Application
StartupNotify=true
Icon=2702_Sisbr_2.0.0
StartupWMClass=SisBr 2.0
Keywords=Sicoob;cooperativa;
